<div class='loader' id='conversation_loader'><%= image_tag 'loader.gif' %></div>
<% @messages.select { |message| message.author_id == contact.id || message.recipient_id == contact.id }.each do |message| %>
  <div id='message_<%= message.id %>' class='<%= if current_user.authored?(message) then 'authored' else 'received' end %> message'>
    <p>
      <span class='title'>
      	<%= current_user.authored?(message) ? t('messages.you_said') : "#{contact.first_name} #{t('messages.other_said').downcase}" %><%=t '_:' %>
      </span>
      <br /><%= message.content %>
    </p>
  </div>
<% end %>
<br />
<%= render 'new', :contact => contact %>