.new.message#new_message
  = form_for @message, :remote => true do |f|

    = f.text_area    :content, :placeholder => t('messages.type_your_message'), :rows => '2', :class => 'textarea'
    = f.hidden_field :author_id,    :value => current_user.id
    = f.hidden_field :recipient_id, :value => contact.id
    = f.submit t('send')
  #message_errors
