  <div id='new_conversation' class='new message'>
    <%= form_for @message, :remote => true do |f| %>
      <%= link_to_function '', "hide('new_conversation')", :id =>  'close_conversation',:class => 'close' %>
      <%= f.submit t('send') %>
      <%= f.text_area    :content,       :placeholder => t('messages.type_your_message'), :rows => '3', :class => 'textarea' %><br />
      <%= text_field_tag :recipient, '' ,:placeholder => t('messages.recipient'), :id => 'recipient',   :class => 'field' %>
      <%= f.hidden_field :author_id,     :value => current_user.id %>
      <%= f.hidden_field :recipient_id,  :value => current_user.id %>
    <% end %>
    <div id='message_errors'></div>
  </div>
