<div id="signin" class="left dashed">
  <h2><%=t 'sessions.new.use_engaccino_account' %></h2>
	<%= form_for :session, :url => sessions_path, :html => { :id => 'signin_form' } do |f| %>
	    <%= f.text_field  :email, :value => (params[:session]) && !params[:session][:email].empty? ? params[:session][:email] : t('sessions.email'),
	                              :id => 'email',
	                              :class => 'field' %><br />
      <%= f.password_field :password, :id => 'password', :class => 'field' %><br /><br />
      <%= f.submit t('sessions.new.signin') %>
	<% end %>
</div>
