<%= form_for @language_candidate, :remote => true do |f| %>
  <div class='language_candidate form'>
    <div class='label'>
      <%= f.fields_for :language do |language_builder| %>
      	<%= language_builder.text_field :label, :class => 'field' %>
      <% end %>
    </div>
    <div class='level'>
      <%= f.select :level, language_level_options_array %>
    </div>
  </div>
  <div class='error_messages' id='errors_new_language_candidate'></div>
  <%= link_to_function t('cancel'), "hideForm('language_candidate')", :class => 'grey button' %>&nbsp;<%= f.submit t('submit') %>
<% end %>