<% language = language_candidate.language %>
<div id='show_language_candidate_<%= language_candidate.id %>' class='<%= 'editable ' if current_user?(candidate) %><%= 'good ' if language_candidate.level == 'native' || language_candidate.level == 'fluent' %>language_candidate'>
	<div class='label'><%= language.label %></div>
	<div class='<%= 'high ' if language_candidate.level == 'native' || language_candidate.level == 'fluent' %>level'><%= t("languages.#{language_candidate.level}") %></div>
</div>
<% if current_user?(candidate) %>
  <div id='edit_language_candidate_<%= language_candidate.id %>' class='hidden edit_language_candidate'>
    <%= render 'language_candidates/edit_form', :language_candidate => language_candidate %>   	
  </div>
<% end %>