<div id="edit" class="white_block">
  <%= form_for @user, :html => { :id => 'user_edit_form' } do |f| %>
    <%= f.text_field :first_name, :value => (@user.first_name && !@user.first_name.blank?) ? @user.first_name : t('users.first_name'),
                                  :id => 'first_name', :class => 'field' %><br />
    <%= f.text_field :last_name, :value => (@user.last_name && !@user.last_name.blank?) ? @user.last_name : t('users.last_name'),
                                 :id => 'last_name', :class => 'field' %><br />
    <%= f.text_field :year_of_birth, :value => (@user.year_of_birth) ? @user.year_of_birth : t('users.year_of_birth'),
                                     :id => 'year_of_birth', :class => 'field' %><br />
    <%= f.text_field :country, :value => (@user.country) ? @user.country : t('users.country'),
                               :id => 'country', :class => 'field' %><br /><br />
    <%= f.submit t('users.edit.edit_profile') %>
  <% end %>
</div>