<div id="user_<%= user.id %>" class="card_block left">
  <div class="head">
    <div class="identity">
      <div class="photo left"><%=t 'users.profile_photo' %></div>
      <div class="name_place">
        <h2><a href="<%= user_path(user) %>"><%= user.first_name %><br /><%= user.last_name %></a></h2> 
        <%= unless user.city.blank? then user.city else t('users.city') end %>, 
        <%= unless user.country.blank? then display_country(user.country) else t('users.country') end %>        
      </div>
    </div>    	
    <% if current_user.admin? %>
    	<%= link_to trash, user, :method => :delete,
	                             :confirm => "#{t('users.destroy.title')} #{user.first_name} #{user.last_name}#{t('_?')}",
	                             :title => "#{t('users.destroy.title')} #{user.first_name} #{user.last_name}",
	                             :id => "destroy_user_#{user.id}",
	                             :class => 'hidden' %>
    <% end %>
    <div class="job">
      <h2><%=t 'users.role' %></h2>
      at <%=t 'users.company' %>
      <div class="status">
        <%= status_options[rand(status_options.size)] %>
      </div>
    </div>    	
  </div>
  <div class="experience">
    <h2><%= t('users.experience').remove_accents.upcase %></h2>
    <h3><%=t 'users.years' %></h3>
  </div>
  <div class="degree">
    <h2><%= t('users.degree').remove_accents.upcase %></h2>
    <%=t 'users.degree_name' %>
  </div>
  <div class="pro_skills">
    <h2><%= t('users.professional_skills').remove_accents.upcase %></h2>
    <p><%=t 'users.skill' %> 1</p>
    <p><%=t 'users.skill' %> 2</p>
    <p><%=t 'users.skill' %> 3</p>
  </div>
</div>