<div id="user_<%= @user.id %>" class="card_block left">
  <div class="head">
    <div class="identity">
      <div class="photo left"><%=t 'users.profile_photo' %></div>
      <div class="name_place">
        <h2><%= @user.first_name %><br /><%= @user.last_name %></h2> 
        <%= unless @user.city.blank? then @user.city else t('users.city') end %>, 
        <%= unless @user.country.blank? then display_country(@user.country) else t('users.country') end %>        
      </div>
    </div>
    <div class="title">
      <h2><%=t 'users.role' %></h2>
      at <%=t 'users.company' %>
    </div>
  </div>
  <div class="status">
    <h2><%=t 'users.status' %></h2>
  </div>
  <div class="experience">
    <h2><%= t('users.experience').remove_accents.upcase %></h2>
    <h3><%=t 'users.years' %></h3>
  </div>
  <div class="degree">
    <h2><%= t('users.degree').remove_accents.upcase %></h2>
    <%=t 'users.degree_name' %>
  </div>
  <div class="pro_skills">
    <h2><%= t('users.professional_skills').remove_accents.upcase %></h2>
    <p><%=t 'users.skill' %> 1</p>
    <p><%=t 'users.skill' %> 2</p>
    <p><%=t 'users.skill' %> 3</p>
  </div>
  <div class="contact">
    <h2><%= "#{t('users.contact')} #{@user.first_name}" %></h2>
    <p><%= @user.email %></p>
    <p><%= @user.phone %></p>
    <div class="buttons">
      <a class="small slightly_round grey button left margin_right" href="#">Fb</a>
      <a class="small slightly_round grey button left margin_right" href="#">Li</a>
      <a class="small slightly_round grey button left" href="#">Tw</a>
    </div>
  </div>
</div>