%ul
  %li
    = link_to t('all'), path, :class => 'black', :id => 'all', :remote => true
  %li
    = link_to t('users.following'), "#{model}/index/following", :class => 'black', :id => 'following' , :remote => true
  %li
    = link_to t('users.followers'), "#{model}/index/followers", :class => 'black', :id => 'followers', :remote => true
