<% @experiences          		         = candidate.experiences.order("start_year DESC, start_month DESC") %>
<% @educations           		         = candidate.educations.order("start_year DESC, start_month DESC") %>
<% @professional_skill_candidates    = candidate.professional_skill_candidates %>
<% @interpersonal_skill_candidates   = candidate.interpersonal_skill_candidates %>

<div id="candidate_<%= candidate.id %>" class="card"<%= " style='height:410px;'" if params[:action] == 'index' %>>
  <div class='loader' id='candidate_loader'><%= image_tag "loader.gif" %></div>
  <div class="head">
    <div class="identity">
      <% if current_user == candidate %>
        <div id="edit_image"></div>
      <% end %>
      <div class="image left">
        <% unless candidate.image_url.nil? %>
          <%= image_tag candidate.image_url.to_s, :alt => 'no pic' %>
        <% else %>
          <%= image_tag 'default_user.jpg', :alt => 'no pic' %>
        <% end %>
      </div>
      <div class="name_place">
      	<% if current_user == candidate %>
      	  <div class="name"><%= best_in_place candidate, :first_name, :html_attrs => { :class => 'field' } %></div>
      	  <div class="name"><%= best_in_place candidate, :last_name,  :html_attrs => { :class => 'field' } %></div>
        <% else %>
          <a href="<%= candidate_path(candidate) %>">
            <div class="name"><%= candidate.first_name %></div>
            <div class="name"><%= candidate.last_name %></div>
          </a>
        <% end %>
        <div class="place"><%= best_in_place_if current_user == candidate, candidate, :city,    :nil => t('candidates.city'), :html_attrs => { :class => 'field' } %></div>
        <div class="country place"><%= best_in_place_if current_user == candidate, candidate, :country, :nil => t('candidates.country'), :html_attrs => { :class => 'country field' } %></div>
      </div>
      <% if current_user == candidate %>
        <%= form_for candidate, :html => { :id => 'image_form', :multipart => true } do |f| %>
          <%= f.file_field :image, :id => 'image_button' %>
          <%= f.submit :submit, :class => 'hidden' %>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
      	<%= link_to trash, candidate, :method => :delete,
                               		    :confirm => "#{t('candidates.destroy.title')} #{candidate.first_name} #{candidate.last_name}#{t('_?')}",
                               		    :title => "#{t('candidates.destroy.title')} #{candidate.first_name} #{candidate.last_name}",
                               		    :id => "destroy_candidate_#{candidate.id}",
                               		    :class => 'hidden trash' %>
      <% end %>
    </div>
    <div class="job" <%= "style='margin-top:-20px'" if current_user == candidate %>>
      <% unless candidate.no_exp? %>
        <% main_experience = Experience.find(candidate.main_experience) %>
        <% if current_user == candidate %>
          <h2 id="role_BIPcombo"><%= best_in_place candidate, :main_experience, :type => :select, :collection => main_experience_options(candidate), :html_attrs => { :class => 'combobox' } %></h2>
        <% else %>
          <h2><%= main_experience.role %></h2>
        <% end %>
        <p id="candidate_company">
          <%= render 'candidate_company', :candidate => candidate %>
        </p>
      <% end %>
    </div> 
    <div class="status">
    	<% if current_user == candidate %>
    	  <%= best_in_place_if current_user == candidate, candidate, :status, :type => :select, :collection => status_options_array, :html_attrs => { :class => 'combobox' } %>
    	<% else %>
        <%=t "candidates.#{candidate.status}_status" %>
    	<% end %>
    </div>   	
  </div>
  <div id='candidate_degree_experience'>
    <%= render 'candidate_degree_experience', :candidate => candidate %>
  </div>
  <div id="candidate_professional_skills">
    <%= render 'candidate_professional_skills', :candidate => candidate %>
  </div>
  <% unless hide_contact_information? %>
    <div class="contact">
      <h2><%= "#{t('contact')} " %><%= best_in_place_if current_user == candidate, candidate, :first_name, :html_attrs => { :class => 'field' } %></h2>
      <p><%= best_in_place_if current_user == candidate, candidate, :email, :html_attrs => { :class => 'field' } %></p>
      <p><%= best_in_place_if current_user == candidate, candidate, :phone, :nil => t('candidates.phone').downcase, :html_attrs => { :class => 'field' } %></p>
      <div class="social_links">
        <% if current_user == candidate %>
          <p><span class='logo'><%= linkedin_logo %></span>
             <%= best_in_place_if current_user == candidate, candidate, :linkedin_login, :nil => t('click_to_edit').downcase, :html_attrs => { :class => 'field' } %></p>
          <p><span class='logo'><%= twitter_logo %></span>
             <%= best_in_place_if current_user == candidate, candidate, :twitter_login,  :nil => t('click_to_edit').downcase,  :html_attrs => { :class => 'field' } %></p>
          <p><span class='logo'><%= facebook_logo %></span>
             <%= best_in_place_if current_user == candidate, candidate, :facebook_login, :nil => t('click_to_edit').downcase, :html_attrs => { :class => 'field' } %></p>
        <% else %>
            <% if candidate.linkedin_login %><p><span class='logo'><%= linkedin_logo %></span><%= candidate.linkedin_login %></p><% end %>
            <% if candidate.twitter_login  %><p><span class='logo'><%=  twitter_logo %></span><%= candidate.twitter_login  %></p><% end %>
            <% if candidate.facebook_login %><p><span class='logo'><%= facebook_logo %></span><%= candidate.facebook_login %></p><% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>