<% @experiences = candidate.experiences.order("start_year DESC") %>
<% @educations  = candidate.educations.order("start_year DESC") %>

<div id="candidate_<%= candidate.id %>" class="card left">
  <div class="head">
    <div class="identity">
      <div class="photo left"><%=t 'candidates.profile_photo' %></div>
      <div class="name_place">
      	<% if current_user == candidate && params[:action] == 'show' %>
      	  <h2><%= best_in_place candidate, :first_name, :html_attrs => {:class => 'small_edit_field'} %><br />
      	      <%= best_in_place candidate, :last_name,  :html_attrs => {:class => 'small_edit_field'} %></h2> 
        <% else %>
          <h2><a href="<%= candidate_path(candidate) %>"><%= candidate.first_name %><br /><%= candidate.last_name %></a></h2>	
        <% end %>  
          <%= candidate.city.blank? ? t('candidates.city') : candidate.city %>, 
          <%= candidate.country.blank? ? t('candidates.country') : country(candidate.country) %>      
      </div>
    </div>    	
    <% if current_user.admin? %>
    	<%= link_to trash, candidate, :method => :delete,
                             		  :confirm => "#{t('candidates.destroy.title')} #{candidate.first_name} #{candidate.last_name}#{t('_?')}",
                             		  :title => "#{t('candidates.destroy.title')} #{candidate.first_name} #{candidate.last_name}",
                             		  :id => "destroy_candidate_#{candidate.id}",
                             		  :class => 'hidden' %>
    <% end %>
    <div class="job">
      <%  unless @experiences.first.nil? %>
        <h2><%= @experiences.first.role %></h2>
        at <%= @experiences.first.company.name %>
      <% end %>
      <div class="status">
      	<% if current_user == candidate && params[:action] == 'show' %>
      	  <%= best_in_place candidate, :status, :type => :select, :collection => status_again %>
      	<% else %>
          <%=t "candidates.#{candidate.status}_status" %>
      	<% end %>
      </div>
    </div>    	
  </div>
  <div class="experience">
    <h2><%= t('candidates.experience.title').remove_accents.upcase %></h2>
    <h3><%= "#{candidate.experience_duration.round unless @experiences.first.nil?} #{t('candidates.years')}" %></h3>
  </div>
  <div class="degree">
    <h2><%= t('candidates.degree').remove_accents.upcase %></h2>
    <%= "#{@educations.first.degree.degree_type.label unless @educations.first.nil?} in #{@educations.first.degree.label unless @educations.first.nil?}" %>
  </div>
  <div class="pro_skills">
    <h2><%= t('candidates.professional_skills').remove_accents.upcase %></h2>
    <p><%=t 'candidates.skill' %> 1</p>
    <p><%=t 'candidates.skill' %> 2</p>
    <p><%=t 'candidates.skill' %> 3</p>
  </div>
  <% if params[:action] == 'show' %>
    <div class="contact">
      <h2><%= "#{t('candidates.contact')} #{candidate.first_name}" %></h2>
      <p><%= best_in_place_if current_user == candidate, candidate, :email %></p>
      <p><%= best_in_place_if current_user == candidate, candidate, :phone %></p>
      <div class="buttons">
        <a class="small slightly_round grey button left margin_right" href="#">Fb</a>
        <a class="small slightly_round grey button left margin_right" href="#">Li</a>
        <a class="small slightly_round grey button left" href="#">Tw</a>
      </div>
    </div>
  <% end %>
</div>