<div id='candidate_<%= candidate.id %>' class='card'<%= " style='height:410px;'" if params[:action] == 'index' %>>
  <div class='loader' id='candidate_loader'><%= image_tag 'loader.gif' %></div>
  
    <div class='identity block'>
      <% if current_user == candidate %><div id='image_edit' class='image_hover'></div><% end %>
      <div class='<%= "default-user-#{rand(1..4)} " if candidate.image_url.nil? %>image left'>
        <%= image_tag candidate.image_url(:thumb).to_s unless candidate.image_url.nil? %>
      </div>
      <% if current_user == candidate %>
    	  <div class='title'><%= best_in_place candidate, :first_name, :html_attrs => { :class => 'field' } %></div><br />
    	  <div class='title'><%= best_in_place candidate, :last_name,  :html_attrs => { :class => 'field' } %></div>
      <% else %>
        <a href='<%= candidate_path(candidate) %>'><div class='title'><%= candidate.first_name %></div><br /><div class='title'><%= candidate.last_name %></div></a>
      <% end %>
      <div class='subtitle'><%= best_in_place_if current_user == candidate, candidate, :city,    :nil => t('candidates.city'), :html_attrs => { :class => 'field' } %></div>
      <div class='subtitle'><%= best_in_place_if current_user == candidate, candidate, :country, :nil => t('candidates.country'), :html_attrs => { :class => 'country field' } %></div>
      <% if current_user == candidate %>
        <%= form_for candidate, :remote => true, :html => { :id => 'image_form', :multipart => true } do |f| %>
          <%= f.file_field :image, :id => 'image_button', :class => 'image_button' %>
          <%= f.submit :submit, :class => 'hidden' %>
          <div id='picture_upload_error' class='hidden error_messages'></div>
        <% end %>
      <% end %>
      <% if current_user.admin? %> <%= link_to image('trash', t('delete')), candidate, :method => :delete, :id => "destroy_candidate_#{candidate.id}", :class => 'hidden',
                                                                                       :confirm => "#{t('candidates.destroy.title')} #{candidate.first_name} #{candidate.last_name}#{t('_?')}",
                                                                                       :title => "#{t('candidates.destroy.title')} #{candidate.first_name} #{candidate.last_name}" %><% end %>
      <div class='job'>
        <% unless candidate.no_exp? %>
          <% main_experience = Experience.find(candidate.main_experience) %>
          <% if current_user == candidate %>
            <h2 id='role_BIPcombo'><%= best_in_place candidate, :main_experience, :type => :select, :collection => main_experience_options(candidate), :html_attrs => { :class => 'combobox' } %></h2>
          <% else %><h2><%= main_experience.role %></h2><% end %>
          <p id='candidate_company'><%= render 'candidate_company', :candidate => candidate %> </p>
        <% end %>
      </div> 
      <div class='status'>
      	<% if current_user == candidate %>
      	  <%= best_in_place_if current_user == candidate, candidate, :status, :type => :select, :collection => status_options_array, :html_attrs => { :class => 'combobox' } %>
      	<% else %><%=t "candidates.#{candidate.status}_status" %><% end %>
      </div>   	
    </div>
  
    <div id='candidate_degree_experience' class='block'><%=   render 'candidate_degree_experience', :candidate => candidate %></div>
    
    <% unless candidate.no_pro_skill? %>
      <div id='candidate_professional_skills' class='block'><%= render 'candidate_professional_skills', :candidate => candidate %></div>
    <% end %>
  
    <% unless current_user_profile? || params[:action] == 'index' || request.xhr? %>
      <div class='contact block'>
        <h2><%= "#{t('contact')} #{candidate.first_name}" %></h2>
        <%= form_for @message, :remote => true do |f| %>
        	<%= f.text_area :content, :placeholder => "#{t('question_or_comment')}#{t('_?')}", :rows => '3', :class => 'textarea' %>
        	<%= f.hidden_field :author_id, :value => current_user.id %>
        	<%= f.hidden_field :recipient_id, :value => candidate.id %>
        	<%= f.submit t('send') %>
      	<% end %>
      	<div id='message_status' class='hidden'></div>
      </div>
    <% end %>
</div>