<% @experiences          		     = candidate.experiences.order("start_year DESC, start_month DESC") %>
<% @educations           		     = candidate.educations.order("start_year DESC, start_month DESC") %>
<% @professional_skill_candidates    = candidate.professional_skill_candidates %>
<% @interpersonal_skill_candidates   = candidate.interpersonal_skill_candidates %>

<div id="candidate_<%= candidate.id %>" class="card"<%= " style='height:432px;'" if params[:action] == 'index' %>>
  <div class="head">
    <div class="identity">
      <% if current_user == candidate %>
        <div id="edit_image"></div>
      <% end %>
      <div class="image left">
        <% unless candidate.image_url.nil? %>
          <%= image_tag candidate.image_url.to_s, :alt => 'no pic' %>
        <% else %>
          <%= image_tag 'default_user.jpg', :alt => 'no pic' %>
        <% end %>
      </div>
      <div class="name_place">
      	<% if current_user == candidate %>
      	  <div class="name"><%= best_in_place candidate, :first_name, :html_attrs => { :class => 'field' } %></div>
      	  <div class="name"><%= best_in_place candidate, :last_name,  :html_attrs => { :class => 'field' } %></div>
        <% else %>
          <a href="<%= candidate_path(candidate) %>">
            <div class="name"><%= candidate.first_name %></div>
            <div class="name"><%= candidate.last_name %></div>
          </a>
        <% end %>
        <% if current_user == candidate %>
          <div class="place"><%= if candidate.city.blank? then t('candidates.city') else best_in_place_if current_user == candidate, candidate, :city, :html_attrs => { :class => 'field' } end %></div>
          <div class="place"><%= if candidate.country.blank? then t('candidates.country') else best_in_place_if current_user == candidate, candidate, :country, :html_attrs => { :class => 'field' } end %></div>
        <% else %>
          <div class="place"><%= candidate.city %>,</div>
          <div class="place"><%= candidate.country %></div>
        <% end %>
      </div>
      <% if current_user == candidate %>
        <%= form_for candidate, :html => { :id => 'image_form', :multipart => true } do |f| %>
          <%= f.file_field :image, :id => 'image_button' %>
          <%= f.submit :submit, :class => 'hidden' %>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
      	<%= link_to trash, candidate, :method => :delete,
                               		    :confirm => "#{t('candidates.destroy.title')} #{candidate.first_name} #{candidate.last_name}#{t('_?')}",
                               		    :title => "#{t('candidates.destroy.title')} #{candidate.first_name} #{candidate.last_name}",
                               		    :id => "destroy_candidate_#{candidate.id}",
                               		    :class => 'hidden trash' %>
      <% end %>
    </div>
    <div class="job" <%= "style='margin-top:-20px'" if current_user == candidate %>>
      <%  unless @experiences.empty? %>
        <h2><%= best_in_place_if current_user == candidate, @experiences.first, :role, :html_attrs => { :class => 'field' } %></h2>
        at <%=  best_in_place_if current_user == candidate, @experiences.first.company, :name, :html_attrs => { :class => 'field' } %>
      <% end %>
    </div> 
    <div class="status">
    	<% if current_user == candidate %>
    	  <%= best_in_place_if current_user == candidate, candidate, :status, :type => :select, :collection => status_options_array, :html_attrs => { :class => 'combobox' } %>
    	<% else %>
        <%=t "candidates.#{candidate.status}_status" %>
    	<% end %>
    </div>   	
  </div>
  <div class="degree_experience">
    <div class="experience">
      <h2><%= t('candidates.experience.title').remove_accents.upcase %></h2>
      <h3><%= "#{candidate.experience_duration.round} #{t('candidates.years')}" unless @experiences.empty? %></h3>
    </div>
    <div class="degree">
      <h2><%= t('candidates.degree').remove_accents.upcase %></h2>
      <% if current_user == candidate %>
        <%= best_in_place @educations.first.degree.degree_type, :label, :html_attrs => { :class => 'field' } unless @educations.first.nil? %><br />
        <%= best_in_place @educations.first.degree, :label, :html_attrs => { :class => 'field' } unless @educations.empty? %>
      <% else %>
        <%= @educations.first.degree.degree_type.label unless @educations.first.nil? %>,<br />
        <%= @educations.first.degree.label unless @educations.empty? %>
      <% end %>
    </div>
  </div>
  <div class="professional_skills">
    <h2><%= t('candidates.professional_skills').remove_accents.upcase %></h2>
    <% @professional_skill_candidates.each_with_index do |professional_skill_candidate, index|  %>
      <% unless index > 2 %><p><%= best_in_place_if current_user == candidate, professional_skill_candidate.professional_skill, :label, :html_attrs => { :class => 'field' } %></p><% end %>
    <% end %>
  </div>
  <% if params[:action] == 'show' %>
    <div class="contact">
      <h2><%= "#{t('candidates.contact')} " %><%= best_in_place_if current_user == candidate, candidate, :first_name, :html_attrs => { :class => 'field' } %></h2>
      <p><%= best_in_place_if current_user == candidate, candidate, :email, :html_attrs => { :class => 'field' } %></p>
      <p><%= best_in_place_if current_user == candidate, candidate, :phone, :html_attrs => { :class => 'field' } %></p>
      <div class="buttons">
        <a class="small slightly_round grey button left margin_right" href="#">Fb</a>
        <a class="small slightly_round grey button left margin_right" href="#">Li</a>
        <a class="small slightly_round grey button left" href="#">Tw</a>
      </div>
    </div>
  <% end %>
</div>