<%= form_for @candidate, :html => { :id => 'candidate_edit_form' } do |f| %>
  <div id="personal_information" class="white_block">
    <h2><%=t "candidates.personal_information" %></h2>
    <%= f.text_field :first_name,    :value => (@candidate.first_name.nil? || @candidate.first_name.empty?) ? t('candidates.first_name') : @candidate.first_name,
                                     :id => 'first_name',
                                     :class => 'field' %><br />
    <%= f.text_field :last_name,     :value => (@candidate.last_name.nil? || @candidate.last_name.empty?) ? t('candidates.last_name') : @candidate.last_name,
                                     :id => 'last_name',
                                     :class => 'field' %><br />
    <%= f.text_field :year_of_birth, :value => (@candidate.year_of_birth.nil? || @candidate.year_of_birth == 0) ? t('candidates.year_of_birth') : @candidate.year_of_birth,
                                     :id => 'year_of_birth',
                                     :class => 'field' %><br />
    <%= f.text_field :country,       :value => (@candidate.country.nil? || @candidate.country.empty?) ? t('candidates.country') : @candidate.country,
                                     :id => 'country',
                                     :class => 'field' %>
  </div>
  <div id="status" class="white_block">
    <h2><%=t "candidates.status" %></h2>
    <%= f.select :status, options_for_select(status_options, @candidate.status) %>
  </div>
  <%= f.submit t('candidates.edit.edit_profile'), :class => 'center' %>
<% end %>
</div>