<div id="edit" class="white_block">
  <%= form_for @candidate, :html => { :id => 'candidate_edit_form' } do |f| %>
    <%= f.text_field :first_name,    :value => (@candidate.first_name && @candidate.first_name.blank?) ? @candidate.first_name : t('candidates.first_name'),
                                     :id => 'first_name', :class => 'field' %><br />
    <%= f.text_field :last_name,     :value => (@candidate.last_name && @candidate.last_name.blank?) ? @candidate.last_name : t('candidates.last_name'),
                                     :id => 'last_name', :class => 'field' %><br />
    <%= f.text_field :year_of_birth, :value => (@candidate.year_of_birth && @candidate.year_of_birth != 0) ? @candidate.year_of_birth : t('candidates.year_of_birth'),
                                     :id => 'year_of_birth', :class => 'field' %><br />
    <%= f.text_field :country,       :value => (@candidate.country && @candidate.country.blank?) ? @candidate.country : t('candidates.country'),
                                     :id => 'country', :class => 'field' %><br /><br />
    <%= f.submit t('candidates.edit.edit_profile') %>
  <% end %>
</div>