<div class="fields">
  <br />
  <%= f.fields_for :degree do |degree_builder| render 'degree_fields', :f => degree_builder end %>
  <%= f.fields_for :school do |school_builder| render 'school_fields', :f => school_builder end %>
  <%=t 'from' %>
  <%= f.text_field :start_month, :id => 'start_month', :class => 'small_field margin_left margin_right' %>  
  <%= f.text_field :start_year,  :id => 'start_year',  :class => 'small_field margin_right' %>                                    
  <%=t 'to' %>
  <%= f.text_field :end_month,   :id => 'end_month',   :class => 'small_field margin_left margin_right' %>
  <%= f.text_field :end_year,    :id => 'end_year',    :class => 'small_field margin_right' %>
  <%= link_to_delete '-', f, t('candidates.education.delete') %>
</div>