<div class="fields">
  <br />
  <%= f.fields_for :company do |company_builder| render 'company_fields', :f => company_builder end %>
  <%= f.text_field :role,        :id => 'role',        :class => 'field margin_right' %>
  <%=t 'from' %>
  <%= f.select :start_month, (1..12).map {|m| [t('date.month_names')[m], m]}, {:prompt => t('candidates.experience.start_month')}, :class => 'select' %>  
  <%= f.select :start_year, (1930..Time.now.year).to_a.reverse.map {|m| [m,m]}, {:prompt => t('candidates.experience.start_year')}, :class => 'select' %>                                    
  <%=t 'to' %>
  <%= f.select :end_month, (1..12).map {|m| [t('date.month_names')[m], m]}, {:prompt => t('candidates.experience.end_month')}, :class => 'select' %>
  <%= f.select :end_year, (1930..Time.now.year).to_a.reverse.map {|m| [m,m]}, {:prompt => t('candidates.experience.end_year')}, :class => 'select' %>
  <%= link_to_delete '-', f, t('candidates.experience.delete') %>
</div>