<div class="fields">
  <br />
  <%= f.fields_for :degree do |degree_builder| %>
    <%= degree_builder.fields_for :degree_type do |degree_type_builder| %>
      <%= degree_type_builder.text_field :label, :id => 'degree_type', :class => 'field' %>
    <% end %>
    <%= degree_builder.text_field :label, :id => 'degree',             :class => 'field' %>
    <%=t 'at' %>&nbsp;
  <% end %>
  <%= f.fields_for :school do |school_builder| %>
    <%= school_builder.text_field :name, :id => 'university',          :class => 'field' %>
  <% end %>
  <%=t 'from' %>&nbsp;
  <%= f.text_field :start_month, :class => 'month small field' %>  
  <%= f.text_field :start_year,  :class => 'year mini field' %>                                    
  <%=t 'to' %>&nbsp;
  <%= f.text_field :end_month,   :class => 'month small field' %>
  <%= f.text_field :end_year,    :class => 'year mini field' %>
  <%= link_to_delete '-', f, t('educations.delete') %>
</div>