<div class="fields">
  <br />
  <%= f.fields_for :degree do |degree_builder| %>
    <%= degree_builder.fields_for :degree_type do |degree_type_builder| %>
      <%= degree_type_builder.text_field :label, :id => 'degree_type', :class => 'small_field margin_right' %>
    <% end %>
    <%= degree_builder.text_field :label, :id => 'degree', :class => 'field margin_right' %>
    <%=t 'at' %>
  <% end %>
  <%= f.fields_for :school do |school_builder| %>
    <%= school_builder.text_field :name, :id => 'university', :class => 'field margin_left margin_right' %>
  <% end %>
  <%=t 'from' %>
  <%= f.text_field :start_month, :id => 'start_month', :class => 'small_field margin_left margin_right' %>  
  <%= f.text_field :start_year,  :id => 'start_year',  :class => 'small_field margin_right' %>                                    
  <%=t 'to' %>
  <%= f.text_field :end_month,   :id => 'end_month',   :class => 'small_field margin_left margin_right' %>
  <%= f.text_field :end_year,    :id => 'end_year',    :class => 'small_field margin_right' %>
  <%= link_to_delete '-', f, t('candidates.education.delete') %>
</div>