<div id="personal_information" class="white_block">
  <h2><%=t "candidates.personal_information" %></h2>
  <%= best_in_place @candidate, :first_name,    :id => 'first_name', :class => 'field' %><br />
  <%= best_in_place @candidate, :last_name,     :id => 'last_name', :class => 'field' %><br />
  <%= best_in_place @candidate, :year_of_birth, :id => 'year_of_birth', :class => 'field' %><br />
  <%= best_in_place @candidate, :country,       :id => 'country', :class => 'field' %>
</div>