<% if current_user == candidate %>
  <td valign="top">
  <%= link_to_function image_tag("pencil.png"), "displayEditForm('experience','#{experience.id}')"%>
  </td>
<% end %>
<td width="130" valign="top">
  <h2><%= display_period(experience) %></h2>
</td>
<td>
  <h2><%= experience.role %> <%=t 'at' %> <%= experience.company.name %></h2>
  <p>
  <% if current_user == candidate && (experience.description.nil? || experience.description.empty?) %>
    <span class='empty_field'><%= t('candidates.experience.edit_description') %></span>
  <% else %>
    <%= experience.description %>
  <% end %>
  </p>
  <br />