<% experiences = candidate.experiences.order('start_year DESC, start_month DESC') %>
<div class='loader' id='experience_loader'><%= image_tag 'loader.gif' %></div>
<h1>
  <%= t('experiences.title').remove_accents.upcase %>
  <%= link_to_function "#{t('add').upcase} +", "showForm('experience', ['show_top','show_timeline', 'candidate'])",
                       :id => 'link_add_experience', :class => "add_link #{' red' if candidate.no_exp?}" if current_user?(candidate) %>
</h1>
<div id='new_experience' class='hidden'></div> 
<% unless candidate.no_exp? %>
  <% experiences.each do |experience| %>
    <div id='experience_<%= experience.id %>'>
   	  <%= render 'experiences/show', :candidate => candidate, :experience => experience %>
   	  <br />
   	</div>
  <% end %>
<% else %>
  <div class='add_some'><%=t 'experiences.add_some' %></div>
<% end %>