<%= link_to small_trash, education, :method => :delete,
                       		          :confirm => "#{t('delete')}#{t('_?')}",
                       		          :title => "#{t('delete')}#{t('_!')}",
                       		          :id => "destroy_education_#{education.id}" %>
<%= link_to_function pencil, "displayEditForm('education','#{education.id}')" if current_user == candidate  %>
<div class="ee_date">
  <h2><%= "#{education.start_month}/#{education.start_year} - #{education.end_month}/#{education.end_year}" %></h2>
</div>
<div class="ee_details">
  <h2><%= education.degree.degree_type.label %>, <%= education.degree.label %></h2>
  <%= education.school.name %>
  <p><% if current_user == @candidate && (education.description.nil? || education.description.empty?) %>
    <span class='default'><%= t('candidates.experience.edit_description') %></span>
  <% else %>
    <%= education.description %>
  <% end %>
  </p>
</div>