#experience_loader.loader
  = image_tag 'loader.gif'
  
%h1
  = t('experiences.title').remove_accents.upcase
  - if current_user?(candidate)
    = link_to_function "#{t('add').upcase} +", "showForm('experience', ['show_completion','show_timeline', 'candidate'])", :id => 'link_add_experience', :class => ['add_link',('red' if candidate.no_exp?)]

#new_experience.hidden
- unless candidate.no_exp?
  - candidate.experiences.order('start_year DESC, start_month DESC').each do |experience|
    %div{ :id => "experience_#{experience.id}"}
      = render 'experiences/show', :candidate => candidate, :experience => experience
      %br/
- else
  .add_some
    = t('experiences.add_some')
