- professional_skill_candidates = candidate.professional_skill_candidates.order('experience DESC')
#professional_skill_candidate_loader.loader
  = image_tag 'loader.gif'
%h1
  .label
    = t('professional_skills.title').remove_accents.upcase
    - if current_user?(candidate)
      = link_to_function "#{t('add').upcase} +", "showForm('professional_skill_candidate', ['show_top','candidate_professional_skills'])", :id => 'link_add_professional_skill_candidate', :class => ['add_link',('red' if candidate.no_pro_skill?)]
  .experience
    = t('professional_skills.experience').remove_accents.upcase
  .level
    = t('professional_skills.level').remove_accents.upcase
#new_professional_skill_candidate.hidden
- unless candidate.no_pro_skill?
  - professional_skill_candidates.each do |professional_skill_candidate|
    %div{ :id => "professional_skill_candidate_#{professional_skill_candidate.id}"}
      = render 'professional_skill_candidates/show', :candidate => candidate, :professional_skill_candidate => professional_skill_candidate
- else
  = t ('professional_skills.add_some')
