<% unless timeline_duration(candidate).nil? %>
  <% units = { :x => 100 / timeline_duration(candidate), :y => 150 / candidate.longest_event.duration } %>
  <% height = (candidate.longest_event.duration * units[:y] * 1.7).round %>
  <% axis = long_timeline?(candidate) ? design_axis_w_decades(candidate, units) : design_axis(candidate, units) %>
  <div id="timeline" style="height: <%= height+55 %>px;">
    <h1>
	    <%= t('candidates.show.timeline.title').remove_accents.upcase %>
	    <%= form_for candidate, :html => { :id => 'timeline_checkboxes' }, :remote => :true do |f| %>
        <%= f.check_box   :timeline_educations  %> <%=t 'educations.title' %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.check_box   :timeline_experiences %> <%=t 'experiences.title' %>
      <% end %>
	  </h1>
    <div class="timeline_container" style="height: <%= height %>px;">
      <div class="events">
        <% [candidate.educations, candidate.experiences].each do |collection| %>
          <% collection.each do |object| %>
            <% block = design_block(object, collection, units) %>
            <div class="<%= object.class.name.downcase %>_block" style="height:<%= block[:height] %>px; width:<%= block[:width] %>%; left:<%= block[:left] %>%; z-index: <%= block[:z_index] %>;">
              <div class="shade" style="opacity:<%= block[:shade] %>;"></div>
              <% unless block[:label][:type] == 'vertical' %><div class="<%= block[:label][:type] %> label"><%= block[:label][:text] %></div><% end %>
            </div>
            <% if block[:label][:type] == 'vertical' %>
              <div class="vertical_label" style="left:<%= block[:label][:left]+0.9 %>%; z-index: <%= block[:z_index] %>;"><%= block[:label][:text] %></div>
              <div class="vertical_line" style="left:<%= block[:label][:left] %>%; height:<%= height - block[:height] %>px;"></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="horizontal_axis" style="width: <%= axis[:width] %>%;">
        <span class="unit_mark" style="width:<%= axis[:first_unit_mark] %>%;">
          <%= unit_mark_label(candidate, :first) if first_unit_mark?(candidate) %>
        </span>
        <% axis[:unit_marks].times do |n| %>
          <span class="unit_mark" style="left:<%= axis[:first_unit_mark]+n*axis[:unit_mark] %>%; width:<%= axis[:unit_mark] %>%;">
            <%= unit_mark_label(candidate, :normal, n) %>
          </span>
        <% end %>
        <% if last_unit_mark?(candidate) %>
          <span class="unit_mark" style="left: <%= axis[:first_unit_mark]+(axis[:unit_marks])*axis[:unit_mark] %>%; width:<%= axis[:last_unit_mark] %>%; border:0;">
            <%= unit_mark_label(candidate, :last) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div id="timeline">
    <h1><%= t('candidates.show.timeline.title').remove_accents.upcase %><</h1>
    <br />
  </div>
<% end %>