<div id="resume">
  <%= render 'show_timeline',         :candidate => @candidate %>
  <div class="block" id="professionalSkillCandidates">
  	<%= render 'show_professionalSkillCandidates' %>
  </div>
  <div class='block' id='interpersonalSkillCandidates'>
  	<%= render 'show_interpersonalSkillCandidates' %>
  </div>
  <div class="block" id="experiences">
  	<%= render 'show_experiences' %>
  </div>
  <div class="block" id="educations">
  	<%= render 'show_educations' %>
  </div>
  <div class='small_block'>
  	<%= render 'show_certifications', :candidate => @candidate %>
  </div>
  <div class='small_block'>
    <%= render 'show_languages',      :candidate => @candidate %>
  </div>
  <div class='small_block'>
    <%= render 'show_miscellaneous',  :candidate => @candidate %>	
  </div>   
</div>