<div id="resume">
  <div id="show_timeline">
    <%= render 'show_timeline', :candidate => @candidate %>
  </div>
  <div class="block" id="professional_skill_candidates">
  	<%= render 'show_professional_skill_candidates' %>
  </div>
  <div class='block' id='interpersonal_skill_candidates'>
  	<%= render 'show_interpersonal_skill_candidates' %>
  </div>
  <div class="block" id="experiences">
  	<%= render 'show_experiences' %>
  </div>
  <div class="block" id="educations">
  	<%= render 'show_educations' %>
  </div>
  <div class='small_block'>
  	<%= render 'show_certifications', :candidate => @candidate %>
  </div>
  <div class='small_block'>
    <%= render 'show_languages',      :candidate => @candidate %>
  </div>
  <div class='small_block'>
    <%= render 'show_miscellaneous',  :candidate => @candidate %>	
  </div>   
</div>