<div class="ee_date">
  <h2><%= "#{education.start_month}/#{education.start_year} - #{education.end_month}/#{education.end_year}" %></h2>
</div>
<div class="ee_details">
  <h2><%= education.degree.degree_type.label %>, <%= education.degree.label %></h2>
  <%= education.school.name %>
  <p><% if current_user == @candidate && (education.description.nil? || education.description.empty?) %>
    <span class='default'><%= t('candidates.experience.edit_description') %></span>
  <% else %>
    <%= education.description %>
  <% end %>
  </p>
</div>