<div id="resume">
  <% unless @candidate.neither_exp_nor_edu? && @candidate != current_user %>
    <div id="show_timeline">
      <%= render 'show_timeline', :candidate => @candidate %>
    </div>
  <% end %>
  <% unless @candidate.no_pro_skills? && @candidate != current_user %>
    <div class="block" id="professional_skill_candidates">
    	<%= render 'show_professional_skill_candidates' %>
    </div>
  <% end %>
  <% unless @candidate.no_perso_skills? && @candidate != current_user %>
    <div class='block' id='interpersonal_skill_candidates'>
    	<%= render 'show_interpersonal_skill_candidates' %>
    </div>
  <% end %>
  <% unless @candidate.no_exp? && @candidate != current_user %>
    <div class="block" id="experiences">
    	<%= render 'show_experiences' %>
    </div>
  <% end %>
  <% unless @candidate.no_edu? && @candidate != current_user %>
    <div class="block" id="educations">
    	<%= render 'show_educations' %>
    </div>
  <% end %>
  <% unless @candidate.no_certif? && @candidate != current_user %>
    <div class='small_block' id='certificate_candidates'>
    	<%= render 'show_certificate_candidates' %>
    </div>
  <% end %>
  <% unless @candidate.no_lang? && @candidate != current_user %>
    <div class='small_block' id='language_candidates'>
      <%= render 'show_language_candidates' %>
    </div>
  <% end %>
</div>