.buttons
  = link_to t('candidates.show.next_profile'), candidate_path(candidate.id+1), :class => 'slightly_round blue button margin_right'
  = link_to t('candidates.show.share_profile'), '#', :class => 'slightly_round grey button'
#completion_container.slightly_round
  #completion_bar_empty.slightly_round
    #completion_bar_full.slightly_round{ :style => "width: #{3*candidate.profile_completion}px;"}
  = t('candidates.show.profile_completion.sentence')
  = candidate.profile_completion
  = t('candidates.show.profile_completion.%complete')
  = link_to_function t('candidates.show.profile_completion.link'), "show('missing'); show('close_missing')"
  = link_to_function '', "hide('missing') ; hide('close_missing')", :class => 'hidden close', :id => 'close_missing'
  #missing.hidden
    %ul
      - if candidate.professional_skill_candidates.count < 3
        %li
          = "#{t('professional_skills.title')}#{t('_:')} #{t('professional_skills.add_some').downcase}"
      - if candidate.interpersonal_skill_candidates.count < 3
        %li
          = "#{t('interpersonal_skills.title')}#{t('_:')} #{t('interpersonal_skills.add_some').downcase}"
      - if candidate.educations.count < 3
        %li
          = "#{t('educations.title')}#{t('_:')} #{t('educations.add_some').downcase}"
      - if candidate.experiences.count < 3
        %li
          = "#{t('experiences.title')}#{t('_:')} #{t('experiences.add_some').downcase}"
      - if candidate.language_candidates.empty?
        %li
          = "#{t('languages.title')}#{t('_:')} #{t('languages.add_some').downcase}"
      - if candidate.city.nil? || candidate.country.nil?
        %li
          = "#{t('candidates.location')}#{t('_:')} #{t('candidates.missing.location')}"
      - if candidate.facebook_login.nil? && candidate.linkedin_login.nil? && candidate.twitter_login.nil?
        %li
          = "#{t('candidates.social_networks')}#{t('_:')} #{t('candidates.missing.social_networks').downcase}"
      - if candidate.image.to_s.nil?
        %li
          = "#{t('candidates.profile_picture')}#{t('_:')} #{t('candidates.missing.profile_picture').downcase}"
