<div class="ee_date">
  <h2><%= "#{experience.start_month}/#{experience.start_year} - #{experience.end_month}/#{experience.end_year}" %></h2>
</div>
<div class="ee_details">
  <h2><%= experience.role %></h2>
  <%= experience.company.name %>
  <p><% if current_user == candidate && (experience.description.nil? || experience.description.empty?) %>
       <span class='default'><%=t 'candidates.experience.edit_description' %></span>
       <% else %>
         <%= experience.description %>
       <% end %>
  </p>
</div>