<div id="resume">
  <%= render 'show_timeline', :candidate => @candidate %>
  <div class="block" id="skills_pro">
  	<%= render 'show_skills_pro', :candidate => @candidate %>
  </div>
  <div class='block' id='skills_perso'>
  	<%= render 'show_skills_perso', :candidate => @candidate %>
  </div>
  <div class="block" id="experiences">
  	<%= render 'show_experiences', :candidate => @candidate %>
  </div>
  <div class="block" id="educations">
  	<%= render 'show_educations', :candidate => @candidate %>
  </div>
  <div class='small_block'>
  	<%= render 'show_certifications', :candidate => @candidate %>
  </div>
  <div class='small_block'>
    <%= render 'show_languages', :candidate => @candidate %>
  </div>
  <div class='small_block'>
    <%= render 'show_miscellaneous', :candidate => @candidate %>	
  </div>   
</div>