<div id="personal_information" class="white_block">
  <h2><%=t "candidates.personal_information" %></h2>
  <%= f.text_field :first_name,    :id => 'first_name',    :class => 'field' %><br />
  <%= f.text_field :last_name,     :id => 'last_name',     :class => 'field' %><br />
  <%= f.text_field :year_of_birth, :id => 'year_of_birth', :class => 'field' %><br />
  <%= f.text_field :country,       :id => 'country',       :class => 'field' %>
</div>