#personal_information.white_block
  %h2
    = t('candidates.personal_information')
  = f.text_field :first_name, :placeholder => t('candidates.first_name'), :class => 'field'
  %br/
  = f.text_field :last_name,  :placeholder => t('candidates.last_name'),  :class => 'field'
  %br/
  %br/
  = f.text_field :city,       :placeholder => t('candidates.city'),       :class => 'field'
  %br/
  = f.text_field :country,    :placeholder => t('candidates.country'),    :class => 'country field'