.white_block
  %h2
    = t('candidates.edit.speed_up_by_import')
  = link_to "#{t('candidates.edit.import_from')} LinkedIn", '#', :class => 'grey_gradient button', :id => 'linkedin_import'
  = link_to "#{t('candidates.edit.import_from')} Facebook", '#', :class => 'grey_gradient button'