<% experience_unit = 300.0 / candidate.experience_duration %>
<% education_unit  = 300.0 / candidate.education_duration %>

<div id="timeline" style="height:<%= (candidate.experience_duration * experience_unit).round + 50 %>px;">
  <h1>TIMELINE</h1>
  <div class="timeline_container">
<!--    <div class="vertical_axis" style="height: <%= (candidate.experience_duration * experience_unit).round %>px;">
    </div>-->
    <div class="events">
      <% candidate.experiences.order("start_year DESC").each do |experience| %>
<!--        <div class="start_date_mark" style="height: <%= (experience.duration * experience_unit).round %>px; top: <%= (experience.years_before_last * experience_unit).round %>px;"></div>
        <div class="end_date_mark" style="height: <%= (experience.duration * experience_unit).round %>px; top: <%= (experience.years_before_last * experience_unit).round %>px;"></div>-->
        <div class="experience_block" style="height:<%= (experience.duration * experience_unit).round %>px; width:<%= (experience.duration * experience_unit * 0.75).round %>px; top:<%= (experience.years_before_last * experience_unit).round %>px;">
        </div>
        <div class="label" style="height:<%= (experience.duration * experience_unit).round %>px; top:<%= (experience.years_before_last * experience_unit + experience.duration * experience_unit / 2 - 9).round %>px; left: <%= (candidate.longest_experience.duration * experience_unit * 0.75 + 30).round %>px;">
          <%= "#{experience.start_year}#{' - '+experience.end_year.to_s unless experience.start_year == experience.end_year}" %><%= ", #{experience.role} at #{experience.company.name}" %>
          <% " (#{experience.duration >= 1 ? pluralize((experience.duration), 'year') : pluralize((12*experience.duration), 'month')})" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="timeline_container" style="left: 750px;">
<!--    <div class="vertical_axis" style="height: <%= (candidate.education_duration * education_unit).round %>px;">
    </div>-->
    <div class="events">
      <% candidate.educations.order("start_year DESC").each do |education| %>
<!--        <div class="start_date_mark" style="height: <%= (education.duration * education_unit).round %>px; top: <%= (education.years_before_last * education_unit).round %>px;"></div>
        <div class="end_date_mark" style="height: <%= (education.duration * education_unit).round %>px; top: <%= (education.years_before_last * education_unit).round %>px;"></div>-->
        <div class="education_block" style="height:<%= (education.duration * education_unit).round %>px; width:<%= (education.duration * education_unit * 0.75).round %>px; top:<%= (education.years_before_last * education_unit).round %>px;">
        </div>
        <div class="label" style="height:<%= (education.duration * education_unit).round %>px; top:<%= (education.years_before_last * education_unit + education.duration * education_unit / 2 - 9).round %>px; left: <%= (candidate.longest_education.duration * education_unit * 0.75 + 30).round %>px;">
          <%= "#{education.start_year}#{' - '+education.end_year.to_s unless education.start_year == education.end_year}" %><%= ", #{education.degreeType} in #{education.degree.label} at #{education.school.name}" %>
          <% " (#{education.duration >= 1 ? pluralize((education.duration), 'year') : pluralize((12*education.duration), 'month')})" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
