<div class="timeline_container" style="left: 750px;">
  <!--<div class="vertical_axis" style="height: <%= (candidate.education_duration * unit).round %>px;">
  </div>-->
  <div class="events">
    <% candidate.educations.order("start_year DESC").each do |education| %>
      <!--<div class="start_date_mark" style="height: <%= (education.duration * unit).round %>px; top: <%= (education.yrs_before_last_edu * unit).round %>px;"></div>
      <div class="end_date_mark" style="height: <%= (education.duration * unit).round %>px; top: <%= (education.yrs_before_last_edu * unit).round %>px;"></div>-->
      <div class="education_block" style="height:<%= (education.duration * unit).round %>px; width:<%= (education.duration * unit * 0.75).round %>px; top:<%= (education.yrs_before_last_edu * unit).round %>px;">
      </div>
      <div class="label" style="top:<%= (education.yrs_before_last_edu * unit + education.duration * unit / 2 - 9).round %>px; left: <%= (candidate.longest_education.duration * unit * 0.75 + 30).round %>px; width: 350px;">
        <%= "#{education.degreeType} in #{education.degree.label}" %>
      </div>
    <% end %>
  </div>
  </div>