<% horizontal_unit = 100 / candidate.timeline_duration %>
<% vertical_unit = 150 / candidate.longest_event.duration %>
<% height = (candidate.longest_event.duration * vertical_unit * 1.7).round %>

<div id="timeline" style="height: <%= height + 55 %>px;">
  <h1>TIMELINE</h1>
  <div class="timeline_container" style="height: <%= height %>px;">
    
    <div class="events">
      <% candidate.experiences.order("start_year DESC").each do |experience| %>
        
        <% block = design_block(experience, candidate.experiences, horizontal_unit, vertical_unit) %>
        
        <div class="experience_block" style="height:<%= block[:height] %>px; width:<%= block[:width] %>%; left:<%= block[:left] %>%; z-index: <%= block[:z_index] %>;">
          <div class="shade" style="opacity:<%= block[:shade] %>;"></div>
          <% unless block[:label][:vertical?] %><div class="label"><%= experience.role %></div><% end %>
        </div>
        <% if block[:label][:vertical?] %>
          <div class="vertical_label" style="left:<%= block[:label][:left] + 1 %>%"><%= experience.role %></div>
          <div class="vertical_line" style="left:<%= block[:label][:left] %>%; height:<%= block[:label][:height] %>px;"></div>
        <% end %>
      <% end %>
      
      <% candidate.educations.order("start_year DESC").each do |education| %>
        
        <% block = design_block(education, candidate.educations, horizontal_unit, vertical_unit) %>
        
        <div class="education_block" style="height:<%= block[:height] %>px; width:<%= block[:width] %>%; left:<%= block[:left] %>%; z-index: <%= block[:z_index] %>;">
          <div class="shade" style="opacity:<%= block[:shade] %>;"></div>
          <% unless block[:label][:vertical?] %><div class="label"><%= education.degree.label %></div><% end %>
        </div>
        <% if block[:label][:vertical?] %>
          <div class="vertical_label" style="left:<%= block[:label][:left] + 1 %>%"><%= education.degree.label %></div>
          <div class="vertical_line" style="left:<%= block[:label][:left] %>%; height:<%= block[:label][:height] %>px;"></div>
        <% end %>
      <% end %>
    </div>
    
    <% axis = design_axis(candidate, horizontal_unit, vertical_unit) %>
    
    <div class="horizontal_axis" style="width: <%= axis[:width] %>%;">
      <% if candidate.long_timeline? %>
        <span class="unit_mark" style="width:<%= axis[:first_decade_unit_mark] %>%;"><%= ten_yrs_bracket(candidate.first_event.start_year) if axis[:big_first_decade_unit_mark] %></span>
        <% (candidate.timeline_duration / 10).round.times do |n| %>
          <% left = axis[:first_decade_unit_mark] + n*axis[:decade_unit_mark] ; year = candidate.first_event.start_year + (n+1)*10 %>
          <% unless year >= decade(candidate.last_event.end_year) %><span class="unit_mark" style="left:<%= left %>%; width:<%= axis[:decade_unit_mark] %>%;"><%= ten_yrs_bracket(year) %></span><% end %>
        <% end %>
      <% else %>
        <span class="unit_mark" style="width:<%= axis[:first_unit_mark] %>%;"><%= candidate.first_event.start_year if axis[:big_first_unit_mark] %></span>
        <% (candidate.timeline_duration.round - 1).times do |n| %>
          <span class="unit_mark" style="left:<%= axis[:first_unit_mark] + n*axis[:unit_mark] %>%; width:<%= axis[:unit_mark] %>%;"><%= candidate.first_event.start_year + n+1 %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>