<% timeline_unit = 964.0 / candidate.timeline_duration %>
<% timeline_vertical_unit = 150 / candidate.longest_event.duration %>
<% experience_unit = 300.0 / candidate.experience_duration %>
<% education_unit = 300.0 / candidate.education_duration %>

<div id="timeline" style="height: <%= (candidate.longest_event.duration * timeline_vertical_unit * 1.5).round + 40 %>px;">
  <h1>TIMELINE 1</h1>
  <div class="timeline_container" style="height: <%= (candidate.longest_event.duration * timeline_vertical_unit * 1.5).round %>px;">
    <div class="events">
      <% candidate.experiences.order("start_year DESC").each do |experience| %>
        <div class="experience_block" style="height:<%= (experience.duration * timeline_vertical_unit).round %>px; width:<%= (experience.duration * timeline_unit).round %>px; left:<%= (experience.years_after_first_event * timeline_unit).round %>px; bottom: 0px;">
        </div>
        <div class="label<%= ' vertical_text' if experience.duration < 1 %>" style="left:
                         <% if experience.duration < 1 %>
                           <%= "#{((experience.years_after_first_event + experience.duration / 2) * timeline_unit).round}px; width:0px; bottom:#{(experience.duration * timeline_vertical_unit).round}px;" %>
                         <% else %>
                           <%= "#{(experience.years_after_first_event * timeline_unit).round}px; width:#{(experience.duration * timeline_unit).round}px; bottom:#{(experience.duration * timeline_vertical_unit).round + 3}px;" %>
                         <% end %>">
          <%= experience.role %>
        </div>
      <% end %>
      <% candidate.educations.order("start_year DESC").each do |education| %>
        <div class="education_block" style="height:<%= (education.duration * timeline_vertical_unit).round %>px; width:<%= (education.duration * timeline_unit).round %>px; left:<%= (education.years_after_first_event * timeline_unit).round %>px; bottom: 0px;">
        </div>
        <div class="label<%= ' vertical_text' if education.duration < 1 %>" style="left:
                         <% if education.duration < 1 %>
                           <%= "#{((education.years_after_first_event + education.duration / 2) * timeline_unit).round}px; width:0px; bottom:#{(education.duration * timeline_vertical_unit).round}px;" %>
                         <% else %>
                           <%= "#{(education.years_after_first_event * timeline_unit).round}px; width:#{(education.duration * timeline_unit).round}px; bottom:#{(education.duration * timeline_vertical_unit).round + 3}px;" %>
                         <% end %>">
          <%= education.degree.label %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="timeline" style="height:<%= (candidate.experience_duration * experience_unit).round + 50 %>px;">
  <h1>TIMELINE 2</h1>
  <div class="timeline_container">
<!--    <div class="vertical_axis" style="height: <%= (candidate.experience_duration * experience_unit).round %>px;">
    </div>-->
    <div class="events">
      <% candidate.experiences.order("start_year DESC").each do |experience| %>
<!--        <div class="start_date_mark" style="height: <%= (experience.duration * experience_unit).round %>px; top: <%= (experience.years_before_latest_experience * experience_unit).round %>px;"></div>
        <div class="end_date_mark" style="height: <%= (experience.duration * experience_unit).round %>px; top: <%= (experience.years_before_latest_experience * experience_unit).round %>px;"></div>-->
        <div class="experience_block" style="height:<%= (experience.duration * experience_unit).round %>px; width:<%= (experience.duration * experience_unit * 0.75).round %>px; top:<%= (experience.years_before_latest_experience * experience_unit).round %>px;">
        </div>
        <div class="label" style="top:<%= (experience.years_before_latest_experience * experience_unit + experience.duration * experience_unit / 2 - 9).round %>px; left: <%= (candidate.longest_experience.duration * experience_unit * 0.75 + 30).round %>px; width: 350px;">
          <%= experience.role %>, <i><%= experience.company.name %></i>
        </div>
      <% end %>
    </div>
  </div>
  <div class="timeline_container" style="left: 750px;">
<!--    <div class="vertical_axis" style="height: <%= (candidate.education_duration * education_unit).round %>px;">
    </div>-->
    <div class="events">
      <% candidate.educations.order("start_year DESC").each do |education| %>
<!--        <div class="start_date_mark" style="height: <%= (education.duration * education_unit).round %>px; top: <%= (education.years_before_latest_education * education_unit).round %>px;"></div>
        <div class="end_date_mark" style="height: <%= (education.duration * education_unit).round %>px; top: <%= (education.years_before_latest_education * education_unit).round %>px;"></div>-->
        <div class="education_block" style="height:<%= (education.duration * education_unit).round %>px; width:<%= (education.duration * education_unit * 0.75).round %>px; top:<%= (education.years_before_latest_education * education_unit).round %>px;">
        </div>
        <div class="label" style="top:<%= (education.years_before_latest_education * education_unit + education.duration * education_unit / 2 - 9).round %>px; left: <%= (candidate.longest_education.duration * education_unit * 0.75 + 30).round %>px; width: 350px;">
          <%= "#{education.degreeType} in #{education.degree.label}" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
