<div id='signup'>
  <div id='signup_import'>
    <%= render 'signup_import' %>
  </div>
  <%= form_for @candidate, :html => { :id => 'candidate_edit_form' } do |candidate_builder| %>
    <div id='signup_personal'>
      <%= render 'signup_personal',   :f => candidate_builder %>
    </div>
    <div id='signup_experience'>
      <%= render 'signup_experience', :f => candidate_builder %>
    </div>
    <div id='signup_education'>
      <%= render 'signup_education',  :f => candidate_builder %>
    </div>
    <div id='signup_status' class='white_block'>
      <h2><%=t 'candidates.status' %></h2>
      <%= candidate_builder.select :status, status_options_hash %>
    </div>
    <%= candidate_builder.submit t('candidates.show.view_profile'), :class => 'center' %>
  <% end %>
</div>