<div id='show_experience_<%= experience.id %>'<%= " class='editable'" if current_user?(candidate) %>>
  <div class='edu_exp_date'>
    <h2><%= "#{experience.start_month}/#{experience.start_year} - " %><%= experience.current ? t('experiences.present') : "#{experience.end_month}/#{experience.end_year}" %></h2>
  </div>
  <div class='edu_exp_details'>
	<h2><%= experience.role %></h2>
    <%= experience.company.name %>
    <p>  
      <% if current_user?(candidate) && (experience.description.nil? || experience.description.empty?) %>
        <span class='default'><%=t 'experiences.add_description' %></span>
      <% else %>
        <%= experience.description %>
      <% end %>
    </p>
  </div>
</div>
<% if current_user?(candidate) %>
  <div id='edit_experience_<%= experience.id %>' class='hidden edit_experience'>
    <%= render 'experiences/edit_form', :experience => experience %>   	
  </div>
<% end %>
