- unless @company.no_contact_info? && !current_user_company
  .contact_info.block
    %h2
      = t('companies.contact_info').remove_accents.upcase
    %p
      - if current_user_company_profile?
        = best_in_place @company, :url, :nil => "#{t('companies.url').downcase}#{t('_:')}", :html_attrs => { :class => 'field' }
      - else
        = link_to @company.url, "http://#{@company.url}", :target => '_blank'
    %p
      = best_in_place_if current_user_company_profile?, @company, :email,   :nil => "#{t('companies.email').downcase}#{t('_:')}",   :html_attrs => { :class => 'field' }
    %p
      = best_in_place_if current_user_company_profile?, @company, :phone,   :nil => "#{t('companies.phone').downcase}#{t('_:')}",   :html_attrs => { :class => 'field' }
    %br/
    %p
      = best_in_place_if current_user_company_profile?, @company, :address, :nil => "#{t('companies.address').downcase}#{t('_:')}", :html_attrs => { :class => 'field' }
    %p
      = best_in_place_if current_user_company_profile?, @company, :zip,     :nil => t('companies.zip').downcase,                    :html_attrs => { :class => 'field' }
      = best_in_place_if current_user_company_profile?, @company, :city,    :nil => "#{t('companies.city').downcase}#{t('_:')}",    :html_attrs => { :class => 'field' }
    %p 
      = best_in_place_if current_user_company_profile?, @company, :country, :nil => "#{t('companies.country').downcase}#{t('_:')}", :html_attrs => { :class => 'field' }