<% skill_candidate = professional_skill.skill_candidates.find_by_candidate_id(@candidate) %>
<div id='professional_skill_<%= professional_skill.id %>' class='professional_skill'>
  <div class='label_description'>
    <h2><%= professional_skill.label %></h2>
    <p><%= skill_candidate.description %></p>
  </div>
  <div class='experience'>
    <h3><%= "#{skill_candidate.experience} #{t('candidates.years')}" %></h3>
  </div>
  <div class='level'>
    <h3><%= skill_candidate.level.humanize %></h3>
  </div>
</div>
<% if current_user == @candidate %>
  <div id='edit_professional_skill_<%= professional_skill.id %>' class='hidden edit_professional_skilll'>
    <%= render 'professional_skills/edit_form', :professional_skill => professional_skill %>   	
  </div>
<% end %>