<div id="edit" class="white_block">
  <%= form_for @user, :html => { :id => 'user_edit_form' } do |f| %>
    <%= f.hidden_field :password, :value => "pouet38" %>
    <%= f.text_field :first_name, :value => (@user.first_name && !@user.first_name.blank?) ? @user.first_name : t('user.first_name'),
                                  :id => 'first_name', :class => 'field' %><br />
    <%= f.text_field :last_name, :value => (@user.last_name && !@user.last_name.blank?) ? @user.last_name : t('user.last_name'),
                                 :id => 'last_name', :class => 'field' %><br />
    <%= f.text_field :year_of_birth, :value => (@user.year_of_birth) ? @user.year_of_birth : t('user.year_of_birth'),
                                     :id => 'year_of_birth', :class => 'field' %><br />
    <%= f.hidden_field :country, :value => @user.country, :id => 'country' %>
    <%= f.text_field :country_full_text, :value => (@user.country.blank?) ? t('user.country_full_text') : Country.search(@user.country).name,
                                         :id => 'country_full_text', :class => 'field' %>
    <%= f.submit t('user.edit.edit_profile'), :class => 'hidden' %>
  <% end %><br />
  <%= link_to t('user.edit.edit_profile'), '#', :id => 'submit', :class => 'button blue round left' %><br /><br />
</div>