<div class="left dashed">
  <h2><%=t 'user.new.create_engaccino_account' %></h2>
  <%= form_tag(:signup_step_2, :id => 'signup_form_1') do %>
    <%= text_field_tag(:email, t('user.new.signup_email_field'), :id => 'signup_email_field', :class => 'field') %><br />
    <%= text_field_tag(:password, t('user.new.signup_password_field'), :id => 'signup_password_field', :class => 'field') %><br />
    <%= text_field_tag(:password_confirmation, t('user.new.signup_password_confirmation_field'), :id => 'signup_password_confirmation_field', :class => 'field') %><br />
    <%= submit_tag t('user.new.set_up_profile'), :class => 'hidden' %>
  <% end %>
  <br />
</div>
