<div id="<%= block[:id] %>" class="white_block">
  <h2><%=t "user.new.#{block[:id]}" %></h2>
  <% block[:fields].each do |field| %>
  	<% case field[:type] %>
    	<% when "text" %>
        <%= f.text_field field[:id], :value => t("user.new.#{field[:id]}_field"), :id => "signup_#{field[:id]}_input", :class => 'field margin_right' %>
      <% when "date" %>
        <%= f.date_select field[:id], :value => t("user.new.#{field[:id]}_field"), 
        								:id => "signup_#{field[:id]}_input", 
        								:class => 'field margin_right',
        								:start_year => 1900 %>
      <% when "select" %>
        <%= select_tag(field[:id],
                       options_for_select([[t('user.new.available_status'), 1],
                                           [t('user.new.looking_status'), 2],
                                           [t('user.new.open_status'), 3],
                                           [t('user.new.listening_status'), 4],
                                           [t('user.new.happy_status'), 5]])) %>
    <% end %>
    <% if field[:id].include?('timeframe') %>
      <%= link_to '+', '#', :class => 'slightly_round blue button' %>
    <% end %>
    <% if field[:new_line] %>
      <br />
    <% end %>
  <% end %>
</div>