<div id="<%= block[:id] %>" class="white_block">
  <h2><%=t "user.new.#{block[:id]}" %></h2>
  <% block[:fields].each do |field| %>
  	<% case field[:type] %>
<<<<<<< HEAD
    	<% when "text" %>
        <%= f.text_field field[:id], :value => (!params[:user].nil? && !params[:user][field[:id]].nil? && !params[:user][field[:id]].empty?) ? params[:user][field[:id]] : t("user.new.signup_#{field[:id]}_field"),
                                     :id => "signup_#{field[:id]}_field",
                                     :class => 'field margin_right' %>
=======
      <% when "text" %>
        <%= f.text_field field[:id], :value => t("user.new.signup_#{field[:id]}_field"), :id => "signup_#{field[:id]}_field", :class => 'field margin_right' %>
>>>>>>> 7965da8bed8c35c6f4b34ce947c603f05caf4b4e
      <% when "hidden" %>
      	<%= f.hidden_field field[:id], :value => "", :id => "signup_#{field[:id]}_field" %>
      <% when "select" %>
        <% options = [] %>
        <% field[:options].each do |option| %>
          <%  options.push(t("user.new.#{option}_status")) %>
        <% end %>
        <%= select_tag(field[:id], options_for_select(options)) %>
    <% end %>
    <% if field[:id].include?('timeframe') %>
      <%= link_to '+', '#', :class => 'slightly_round blue button' %>
    <% end %>
    <% if field[:new_line] %>
      <br />
    <% end %>
  <% end %>
</div>