<div id="signup">
  <%= render 'signup_speed_up' %>
  <%= form_for @user, :html => { :id => 'user_signup_form' } do |f| %>
    <%= render :partial => 'signup_personal_information', :locals => { :f => f }  %>
    <%= render :partial => 'signup_professional_experience', :locals => { :f => f } %>
    <%= render :partial => 'signup_education', :locals => { :f => f } %>
    <%= render :partial => 'signup_status', :locals => { :f => f } %>
    <%= f.submit t('user.edit.view_profile'), :class => 'center' %>
  <% end %>
</div>