<%= form_for @user do |f| %>
  <div id="signup_part_1" class="white_block visible">
    <%= render :partial => 'signup_with_engaccino_account', :locals => { :f => f } %>
    <%= render :partial => 'signup_with_social_media', :locals => { :f => f } %>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </div>
  <div id="signup_part_2" class="hidden">
    <%= render 'signup_speed_up' %>
    <% signup_blocks.each do |block| %>
      <%= render :partial => 'signup_block', :locals => { :block => block, :f => f } %>
    <% end %>
  </div>
  <%= f.submit t('user.new.set_up_profile'), :class => 'hidden' %>
<% end %>
<%= link_to t('.view_profile'), '#', :id => 'signup_form_2_submit', :class => 'button blue round center' %>