<div id="user_<%= @user.id %>" class="card_block left">
  <div class="head">
    <div class="identity">
      <div class="photo left">Profile<br />photo</div>
      <div class="name_place_status right">
        <h2><%= @user.first_name %><br /><%= @user.last_name %></h2> 
        <%= unless @user.city.blank? then @user.city else "City" end %>, 
        <%= unless @user.country.blank? then display_country(@user.country) else "Country" end %>
        <h3>Status</h3>
      </div>
    </div>
    <div class="title">
      <h2>Title</h2>
      at Company
    </div>
  </div>
  <div class="experience">
    <h2>EXPERIENCE</h2>
    <h3>yrs</h3>
  </div>
  <div class="degree">
    <h2>DEGREE</h2>
    Degree description
  </div>
  <div class="pro_skills">
    <h2>PROFESSIONAL SKILLS</h2>
    <p>Skill 1</p>
    <p>Skill 2</p>
    <p>Skill 3</p>
  </div>
  <div class="contact">
    <h2>Contact <%= @user.first_name %></h2>
    <p><%= @user.email %></p>
    <p><%= @user.phone %></p>
    <div class="buttons">
      <a class="small slightly_round grey button left margin_right" href="#">Fb</a>
      <a class="small slightly_round grey button left margin_right" href="#">Li</a>
      <a class="small slightly_round grey button left" href="#">Tw</a>
    </div>
  </div>
</div>