<div id="signup_part_2">
  <%= render 'signup_speed_up' %>
  <%= form_for @user, :url => { :action => :update }, :html => { :id => 'signup_form_2' } do |f| %>
    <% signup_blocks.each do |block| %>
      <%= render :partial => 'signup_block', :locals => { :block => block, :f => f } %>
  	<% end %>
  	<%= f.submit t('user.new.view_profile'), :class => 'hidden' %>
  <% end %>
</div>
<%= link_to t('user.new.view_profile'), '#', :id => 'signup_form_2_submit', :class => 'button blue round center' %>
