<% certificate = certificate_candidate.certificate %>
<div id='show_certificate_candidate_<%= certificate_candidate.id %>' class='<%= 'editable ' if current_user?(candidate) %>certificate_candidate'>
	<div class='label'><%= certificate.label %></div>
	<div class='level'><%= certificate_candidate.level_score %></div>
</div>
<% if current_user?(candidate) %>
  <div id='edit_certificate_candidate_<%= certificate_candidate.id %>' class='hidden edit_certificate_candidate'>
    <%= render 'certificate_candidates/edit_form', :certificate_candidate => certificate_candidate %>   	
  </div>
<% end %>