<%= form_for interpersonal_skill_candidate, :remote => true, :html => { :id => "interpersonal_skill_candidate_edit_form_#{interpersonal_skill_candidate.id.to_s}" } do |f| %>
  <div class='form'>
    <input type='hidden' name='_method' value='PUT' />
    <%= f.fields_for :interpersonal_skill do |interpersonal_skill_builder| %>
     	<h2><%= interpersonal_skill_builder.text_field :label, :class => 'field' %></h2>
    <% end %>
    <%= f.text_area :description, :class => 'textarea' %>
  </div>
  <div class='bottom'>
    <div class="error_messages" id="errors_interpersonal_skill_candidate<%= interpersonal_skill_candidate.id %>"></div>
    <%= link_to_function t('cancel'), "hideForm('interpersonal_skill_candidate','#{interpersonal_skill_candidate.id}')", :class => 'grey button' %>
    &nbsp;
    <%= f.submit t('submit') %>
    <div class="small_trash_link right margin_top"><%= link_to "#{t('delete')}#{t('_?')}", interpersonal_skill_candidate, :method => :delete,
                                                                     		                                            :confirm => "#{t('delete')}#{t('_?')}",
                                                                                       		                          :title => "#{t('delete')}#{t('_!')}",
                                                                                       		                          :remote => true %></div>
  </div>
<% end %>