<%= form_for @interpersonal_skill_candidate, :remote => true do |f| %>
  <div class='form'>
    <%= f.fields_for :interpersonal_skill do |interpersonal_skill_builder| %>
  	  <h2><%= interpersonal_skill_builder.text_field :label, :class => 'edit_field margin' %></h2>
    <% end %>
    <%= f.text_area :description, :class => 'textarea_edit' %>
    <div class="error_messages" id="errors_new_interpersonal_skill_candidate"></div>
    <%= link_to_function t('cancel'), "hideForm('interpersonal_skill_candidate')", :class => 'grey button' %>
    &nbsp;
    <%= f.submit t('submit') %>
  </div>
<% end %>