<% interpersonal_skill = interpersonal_skill_candidate.interpersonal_skill %>
<div <%= if @candidate == current_user then "id='show_interpersonal_skill_candidate_#{interpersonal_skill_candidate.id}'" end %>>
	<h2><%= interpersonal_skill.label %></h2>
	<p><%= interpersonal_skill_candidate.description %></p>
</div>
<% if current_user == @candidate %>
  <div id='edit_interpersonal_skill_candidate_<%= interpersonal_skill_candidate.id %>' class='hidden edit_interpersonal_skill_candidate'>
    <%= render 'interpersonal_skill_candidates/edit_form', :interpersonal_skill_candidate => interpersonal_skill_candidate %>   	
  </div>
<% end %>