<%= form_for @education, :remote => true do |f| %>
  <div class='edu_exp_date'>
  	<%= f.text_field :start_month, :placeholder => t('educations.month'), :class => 'month micro field' %>
  	<%= f.text_field :start_year,  :placeholder => t('educations.year'), :class => 'year mini field' %> - 
    <%= f.text_field :end_month,   :placeholder => t('educations.month'), :class => 'month micro field' %>
  	<%= f.text_field :end_year,    :placeholder => t('educations.year'), :class => 'year mini field' %>
  </div>
  <div class='edu_exp_details'>
  	<%= f.fields_for :degree do |degree_builder| %>
  	  <%= degree_builder.fields_for :degree_type do |degree_type_builder| %>
  	    <%= degree_type_builder.text_field :label, :placeholder => t('candidates.degree_type'), :class => 'field small_margin' %>
  	  <% end %>
  	  <br />
  	  <%= degree_builder.text_field :label, :placeholder => t('candidates.degree'), :class => 'field small_margin' %>
  	<% end %>
  	<br />
  	<%= f.fields_for :school do |school_builder| %>
  	  <%= school_builder.text_field :name, :placeholder => t('candidates.school'), :class => 'field margin' %>
  	<% end %>
  	<%= f.text_area :description, :placeholder => t('educations.add_description'), :class => 'textarea' %>
  	<div class='error_messages' id='errors_new_education'></div>
  	<%= link_to_function t('cancel'), "hideForm('education')", :class => 'grey button' %>
  	&nbsp;
  	<%= f.submit t('submit') %>
  	<br/><br/>
  </div>
<% end %>