<%= form_for professional_skill_candidate, :remote => true, :html => { :id => 'professional_skill_candidate_edit_form_#{professional_skill_candidate.id.to_s}' , :class => 'professional_skill_candidate_edit_form'} do |f| %>
  <input type='hidden' name='_method' value='PUT' />
  <div class='show_professional_skill_candidate'>
    <div class='label_description'>
      <%= f.fields_for :professional_skill do |professional_skill_builder| %>
      	<h2><%= professional_skill_builder.text_field :label, :class => 'edit_field' %></h2>
      <% end %>
      <%= f.text_area :description, :class => 'textarea_edit' %>
      <div class="error_messages" id="errors<%= professional_skill_candidate.id %>"></div>
      <%= link_to_function t('cancel'), "hideForm('professional_skill_candidate','#{professional_skill_candidate.id}')", :class => 'grey button' %>
      &nbsp;
      <%= f.submit t('submit') %>
      <div class="small_trash_link right"><%= link_to "#{t('delete')}#{t('_?')}", professional_skill_candidate, :method => :delete,
                                                               		                              :confirm => "#{t('delete')}#{t('_?')}",
                                                               		                              :title => "#{t('delete')}#{t('_!')}",
                                                               		                              :remote => true %></div>
    </div>
    <div class='experience'>
      <h3><%= f.text_field :experience, :class => 'mini_edit_field' %> <%= "#{t('yr')}(s)" %></h3>
    </div>
    <div class='level'>
      <h3><%= f.select :level, level_options_array %></h3>
    </div>
  </div>
<% end %>