<%= form_for @professional_skill_candidate, :remote => true do |f| %>
  <div class='show_professionalSkillCandidate'>
    <div class='label_description'>
      <%= f.fields_for :professional_skill do |professional_skill_builder| %>
      	<h2><%= professional_skill_builder.text_field :label, :class => 'edit_field' %></h2>
      <% end %>
      <%= f.text_area :description, :class => 'textarea_edit' %>
      <div class="error_messages" id="errors_new_professionalSkillCandidate"></div>
      <%= link_to_function t('cancel'), "hideForm('professional_skill_candidate')", :class => 'grey button' %>
      &nbsp;
      <%= f.submit t('submit') %>
    </div>
    <div class='experience'>
      <h3><%= f.text_field :experience, :class => 'mini_edit_field' %><%=t 'candidates.years' %></h3>
    </div>
    <div class='level'>
      <h3><%= f.select :level, level_options_array %></h3>
    </div>
  </div>
<% end %>