<%= link_to_function '', "deleteCompanyDetails()", :class => 'close' %>
<h2><%= company.url.nil? ? company.name : (link_to company.name, "http://#{company.url}", :class => 'black link', :target => '_blank') %></h2>
<%= company.city %>, <%= company.country %><br/>
<h4><%= "#{t('companies.recruiters')}#{t('_:')}" %></h4>
<% recruiters = recruiters[0..2] if recruiters.count > 3 %>
<% recruiters.each do |recruiter| %>
    <div class='recruiter'>
      <div class='default image <%= "color-#{rand(1..4)} " if recruiter.image_url.nil? %>'>      
        <%= image_tag (recruiter.image_url.nil? ? 'default_user.png' : recruiter.image_url(:thumb).to_s) %>
      </div>
      <p><%= "#{recruiter.first_name.first.upcase}. #{recruiter.last_name[0..8].humanize}" %></p>
    </div>
<% end %>