%h2
  = t('recruiters.new.or_use_social_connect')
= link_to "#{t('recruiters.new.connect_via')} Facebook", '#', :class => 'grey_gradient button', :id => 'facebook_connect'
= link_to "#{t('recruiters.new.connect_via')} Twitter", '#',  :class => 'grey_gradient button'