%h2
  = t('recruiters.new.create_engaccino_account')
  
= form_for @recruiter, :url => { :action => :create }, :html => { :id => 'recruiter_new_form' } do |f|
  = f.hidden_field   :first_name,            :value => t('recruiters.first_name')
  = f.hidden_field   :last_name,             :value => t('recruiters.last_name')
  = f.hidden_field   :city,                  :value => t('recruiters.city')
  = f.hidden_field   :country,               :value => 'Holy See (Vatican City State)'
  = f.text_field     :email,                 :placeholder => t('recruiters.email'),                 :class => 'field'
  %br/
  = f.password_field :password,              :placeholder => t('recruiters.password'),              :class => 'field'
  %br/
  = f.password_field :password_confirmation, :placeholder => t('recruiters.password_confirmation'), :class => 'field'
  %br/
  = f.submit t('recruiters.new.set_up_profile')