<div id='recruiter_<%= recruiter.id %>' class='card'
<% if params[:action] == 'index' %>style='height:500px'<% end %>
<% if current_user.admin && !current_user?(recruiter) %>onmouseover="show('destroy_recruiter_<%= recruiter.id %>')" onmouseout="hide('destroy_recruiter_<%= recruiter.id %>')"<% end %>>
  <div class='loader' id='recruiter_loader'><%= image_tag 'loader.gif' %></div>
  
    <div class='identity block'>
      <% if current_user_profile? %>
        <div id='image_edit_r' class='image_hover'></div>
      <% end %>
      <div class='default image <%= "color-#{rand(1..4)} " if recruiter.image_url.nil? %>left'>
        <%= image_tag (recruiter.image_url.nil? ? 'default_user.png' : recruiter.image_url(:thumb).to_s) %>
      </div>
      <% if current_user.admin && !current_user?(recruiter) %>
	    <%= link_to image('trash', t('delete')), recruiter, :method => :delete, :id => "destroy_recruiter_#{recruiter.id}", :class => 'hidden',
      	                                                    :confirm => "#{t('recruiters.destroy.title')} #{recruiter.first_name} #{recruiter.last_name}#{t('_?')}",
                                                            :title => "#{t('recruiters.destroy.title')} #{recruiter.first_name} #{recruiter.last_name}" %>
	  <% end %>
      <% if current_user_profile? %>
    	  <div class='title'><%= best_in_place recruiter, :first_name, :html_attrs => { :class => 'field' } %></div><br />
    	  <div class='title'><%= best_in_place recruiter, :last_name,  :html_attrs => { :class => 'field' } %></div>
      <% else %>
        <a href='<%= recruiter_path(recruiter) %>'><div class='title'><%= recruiter.first_name %></div><br /><div class='title'><%= recruiter.last_name %></div></a>
      <% end %>
      <div class='subtitle'><%= best_in_place_if current_user_profile?, recruiter, :city,    :nil => t('recruiters.city'), :html_attrs => { :class => 'field' } %></div>
      <div class='subtitle'><%= best_in_place_if current_user_profile?, recruiter, :country, :nil => t('recruiters.country'), :html_attrs => { :class => 'country field' } %></div>
      <% if current_user_profile? %>
        <%= form_for recruiter, :remote => true, :html => { :id => 'recruiter_image_form', :multipart => true } do |f| %>
          <%= f.file_field :image,  :id => 'image_button_r', :class => 'image_button' %>
          <%= f.submit     :submit, :class => 'hidden' %>
          <div id='recruiter_picture_upload_error' class='hidden error_messages'></div>
        <% end %>
      <% end %>
	  
      <% if current_user_profile? %>
        <p><%= best_in_place recruiter, :quote, :type => :textarea, :nil => "\"#{t('recruiters.show.add_quote').downcase}\"", :html_attrs => { :class => 'field' } %></p>
      <% elsif !(recruiter.quote.nil? || recruiter.quote.empty?) %>
        <p><%= "\"#{recruiter.quote}\"" %></p>
      <% end %>
    </div>
  
    <% unless current_user_profile? || company_profile? || params[:action] == 'index' || request.xhr? %>
      <div class='contact block'>
        <h2><%= "#{t('contact')} #{recruiter.first_name}" %></h2>
            <%= form_for @message, :remote => true do |f| %>
        	<%= f.text_area :content, :placeholder => "#{t('question_or_comment')}#{t('_?')}", :rows => '3', :class => 'textarea' %>
        	<%= f.hidden_field :author_id, :value => current_user.id %>
        	<%= f.hidden_field :recipient_id, :value => recruiter.id %>
        	<%= f.submit t('send') %>
      	<% end %>
      	<div id='message_status' class='hidden'></div>
      </div>
    <% end %>
  
    <% unless recruiter.company.nil? || company_profile? %>
      <div class='company_r identity block' id="company_<%= recruiter.company.id %>">
        <h2><%= t('recruiters.show.recruiter_at').remove_accents.upcase %></h2>
        <% if current_user_profile? %><div id='image_edit_c' class='image_hover'></div><% end %>
        <div class='default image <%= "color-#{rand(1..4)} " if recruiter.company.image_url.nil? %>left'>
          <%= image_tag (recruiter.company.image_url.nil? ? 'default_company.png' : recruiter.company.image_url(:thumb).to_s) %>
        </div>
        <% if current_user_profile? %>
      	  <div class='title'><%= best_in_place recruiter.company, :name, :html_attrs => { :class => 'field' } %></div>
      	  <div class='subtitle'><%= best_in_place recruiter.company, :url, :nil => t('companies.url').downcase, :html_attrs => { :class => 'url field' } %></div>
        <% else %>
          <div class='title'><%= link_to recruiter.company.name, company_path(recruiter.company) %></div>
          <div class='subtitle'><%= link_to recruiter.company.url, "http://#{recruiter.company.url}", :target => '_blank' %></div>
        <% end %>
        <% if current_user_profile? %>
          <%= form_for recruiter.company, :remote => true, :html => { :id => 'company_image_form', :multipart => true } do |f| %>
            <%= f.file_field :image,  :id => 'image_button_c', :class => 'image_button' %>
            <%= f.submit     :submit, :class => 'hidden' %>
            <div id='company_picture_upload_error' class='hidden error_messages'></div>
          <% end %>
          <p><%= link_to t('recruiters.show.company_profile'), recruiter.company, :class => 'small' %></p>
        <% end %>
      </div>
    <% end %>  
</div>