<div class='white_block'>
  <h3><%= @recruiter.first_name %>
  <%= @recruiter.last_name %></h3>
  <%= @recruiter.city %>,
  <%= @recruiter.country %><br /><br />
  <h3><%= @recruiter.company.name %></h3>
  <%= @recruiter.company.url %><br />
  <%= @recruiter.company.city %>,
  <%= @recruiter.company.country %>
</div>