<div id='company' class='white_block'>
  <h2><%=t 'recruiters.edit.company.title' %></h2>
  <h4><%= radio_button_tag :company_profile, 'no', (params[:company_profile].nil? || params[:company_profile] == 'no') %>&nbsp;&nbsp;&nbsp;
  <%=t 'recruiters.edit.company.nope' %></h4>
  <h4><%= radio_button_tag :company_profile, 'yes', (params[:company_profile] == 'yes') %>&nbsp;&nbsp;&nbsp;
  <%=t 'recruiters.edit.company.yep' %></h4><br />
  <div id='company_information' class='<%= 'hidden ' unless params[:company_profile] == 'yes' %>grey_block'>
    <h2><%=t 'recruiters.edit.company.info' %></h2>
    <%= f.fields_for :company do |company_builder| render 'fields_company', :f => company_builder end %>
  </div>
  <div id='colleagues' class='<%= 'hidden ' unless params[:company_profile] == 'yes' %>grey_block'>
    <h2><%=t 'recruiters.edit.colleagues.title' %></h2>
    <p><%=t 'recruiters.edit.colleagues.note' %></p>
    <%= text_field_tag :colleague, nil, :placeholder => t('recruiters.email'), :class => 'field' %><br />
    <%= text_field_tag :colleague, nil, :placeholder => t('recruiters.email'), :class => 'field' %><br />
    <%= text_field_tag :colleague, nil, :placeholder => t('recruiters.email'), :class => 'field' %>
  </div>
</div>