#personal_information.white_block
  %h2
    = t('recruiters.personal_information')
  = f.text_field   :first_name, :placeholder => t('recruiters.first_name'), :class => 'field'
  %br/
  = f.text_field   :last_name,  :placeholder => t('recruiters.last_name'),  :class => 'field'
  %br/
  %br/
  = f.text_field   :city,       :placeholder => t('recruiters.city'),       :class => 'field'
  %br/
  = f.text_field   :country,    :placeholder => t('recruiters.country'),    :class => 'country field'