<header>
  <%= link_to logo, root_path %>
  <%= render 'layouts/languages' %>
  <nav>
    <%= render 'layouts/signin_up' %>
    <%= render 'layouts/search' %>
    <% unless signed_in? && signed_up? %>
      <%= render 'layouts/public_menu' %>
    <% else %>
      <%= render 'layouts/member_menu' %>
    <% end %>
  </nav>
</header>