<header>
  <%= link_to logo, root_path %>
  <div id="signin_signup">
    Already a member? <%= link_to 'Sign in', '#' %> <%= link_to 'Sign up!', '#', :class => 'button' %>
  </div>
  <nav>
    <ul>
      <% @menu_items.each do |item| %>
      		<% if item[:title] == @title %>
      			<li class="round selected"><%= link_to item[:title], item[:link] %></li>
      		<% else %>
      			<li class="round"><%= link_to item[:title], item[:link] %></li>
      		<% end %>
      <% end %>	
    </ul>
    <%= render 'layouts/search_form' %> 
  </nav>
</header>