<header>
  <%= link_to logo, root_path %>
  <div id="signin_signup">
    Already a member? <%= link_to 'Sign in', '#' %> <%= link_to 'Sign up!', '#', :class => 'button' %>
  </div>
  <%= render 'layouts/search_form' %>
  <nav>
    <ul>
      <% menu_items.each do |menu_item| %>
        <li class="round<% if menu_item[:selected] %> selected<% end %>">
          <%= link_to menu_item[:title], menu_item[:path] %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>