<header>
  <%= link_to logo, root_path %>
  <%= render 'layouts/languages_form' %>
  <nav>
    <%= render 'layouts/signin_signup_links' %>
    <%= render 'layouts/search_form' %>
    <%= render 'layouts/main_menu' %>
  </nav>
</header>