<header>
  <%= link_to logo, root_path %>
  <%= render 'layouts/languages_menu' %>
  <nav>
    <%= render 'layouts/signin_up_menu' %>
    <%= render 'layouts/search_form' %>
    <% unless signed_in? && completed_signup? %>
      <%= render 'layouts/public_menu' %>
    <% else %>
      <%= render 'layouts/member_menu' %>
    <% end %>
  </nav>
</header>