<ul>
  <li class='round<% if @title == t(:menu_dashboard) %> selected<% end %>'>
    <%= link_to t(:menu_dashboard), '#' %>
  </li>
<% if current_user.candidate? %>
  <li class='round<% if current_user_profile? %> selected<% end %>'>
    <%= link_to t(:menu_profile), candidate_path(current_user) %>
  </li>
  <li class='round<% if @title == t('recruiters.index.title') || (@company && @title == @company.name) || (@recruiter && @title == "#{@recruiter.first_name} #{@recruiter.last_name}") %> selected<% end %>'>
    <%= link_to t(:menu_recruiters), recruiters_path %>
  </li>
  <% if current_user.admin? %>
    <li class='round<% if @title == t('candidates.index.title') %> selected<% end %>'>
      <%= link_to t(:menu_candidates), candidates_path %>
    </li>
  <% end %>
<% elsif current_user.recruiter? %>
  <li class='round<% if current_user_profile? %> selected<% end %>'>
    <%= link_to t(:menu_profile), recruiter_path(current_user) %>
  </li>
  <li class='round<% if @title == t('candidates.index.title') || (@candidate && @title == "#{@candidate.first_name} #{@candidate.last_name}") %> selected<% end %>'>
    <%= link_to t(:menu_candidates), candidates_path %>
  </li>
  <% if current_user.admin? %>
    <li class='round<% if @title == t('recruiters.index.title') %> selected<% end %>'>
      <%= link_to t(:menu_recruiters), recruiters_path %>
    </li>
  <% end %>
<% end %>
  <li id='messages_menu' class='round<% if @title == t('messages.title') %> selected<% end %>'>
    <% if unread_messages? %><span class='unread'></span><% end %>
    <%= link_to "#{t(:menu_messages)}", messages_path %>   
  </li>
</ul>