#signin_signup
  - if signed_in? && signed_up?
    = link_to image('settings'), '#'
    = link_to t(:sign_out), signout_path
  - else
    = t(:already_member)
    = link_to t(:sign_in), signin_path
    %a.blue.round.button{ :href => candidate_signup_path }
      = t(:sign_up)