<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "user" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "user" %>
  <%= javascript_tag do %>
  	I18n.defaultLocale = "<%= I18n.default_locale %>";
  	I18n.locale = "<%= I18n.locale %>";
  <% end %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% flash.each do |key, value| %>
    <div id="flash" class="flash <%= key %>">
      <%= value %>
      <%= link_to '', '#', :id => 'close_flash', :class => 'close' %>
    </div>
  <% end %>

  <%= render 'layouts/header' %>	
	
  <div id="container">
    <%= "<h1 id='container_title'><%= #{@title}</h1>" unless @user && @title == "#{@user.first_name} #{@user.last_name}" %>
    <%= yield %>
  </div>
  
  <footer>
    <%= debug(params) if Rails.env.development? %>
  </footer>
</body>

</html>
