<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'application', 'users', 'candidates' %>
    <%= javascript_include_tag 'application', 'nested_form' %>
    <%= javascript_tag do %>
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    <% end %>
    <%= javascript_include_tag @javascripts.join(', ') unless @javascripts.nil? || @javascripts.empty? %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <% flash.each do |key, value| %>
      <div id="flash" class="flash <%= key %>">
        <%= value %>
        <%= link_to '', '#', :id => 'close_flash', :class => 'close' %>
      </div>
    <% end %>
  
    <%= render 'layouts/header' %>	
  	
    <div id="container">
      <% unless @candidate && @title == "#{@candidate.first_name} #{@candidate.last_name}" %>
        <h1 id="container_title"><%= @title %></h1>
      <% end %>
      <%= yield %>
    </div>
    
    <footer>
      <%= debug(params) if Rails.env.development? %>
    </footer>
  </body>
    
</html>